.idea
/.gradle
/build/
/out/

/desktop
/web
/tiled

/core/.gradle
/core/build
/core/out

/desktop/.gradle
/desktop/build
/desktop/out

/web/.gradle
/web/build
/web/out

/tiled/.gradle
/tiled/build
/tiled/out